/* fonts.css */
@font-face {
  font-family: "DIN";
  src: url("./fonts/ArbFONTS-URW-DIN-Arabic.ttf") format("truetype"),
    /* url("./fonts/ArbFONTS-URW-DIN-Arabic-Bold.ttf") format("truetype"), */
    url("./fonts/ArbFONTS-URW-DIN-Arabic-Medium.ttf") format("truetype"),
    url("./fonts/ArbFONTS-URW-DIN-Arabic-Black.ttf") format("truetype"),
    url("./fonts/ArbFONTS-URW-DIN-Arabic-Demi.ttf") format("truetype"),
    url("./fonts/ArbFONTS-URW-DIN-Arabic-Thin.ttf") format("truetype"),
    url("./fonts/ArbFONTS-URW-DIN-Arabic-XLight.ttf") format("truetype");
}

@font-face {
  font-family: "DIN_BOLD"; 
  font-style: normal; 
  font-weight: 300; /* normal | 300 | 400 | 600 | bold | etc */
  src:  url("./fonts/ArbFONTS-URW-DIN-Arabic-Bold.ttf") format("truetype"),
}
